

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-color: #e3e7ea !important;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    box-shadow: 0 0 65px #dfd9cd inset, 0 0 20px #dfd9cd inset, 0 0 5pt #dfd9cd;
  }

  #mark{
    margin-bottom: 10px;
  }

.card-img-top{
  height: 250px;
  width: 350px;
  min-height: auto;
  max-height: auto;

}

#imageFile{
  height: 300px;
  width: 350px;
  min-height: auto;
  max-height: auto;

}

.card-body{
    margin-top: 20px;
}

.card{
    margin-bottom: 15px;
    box-shadow: 0 0 65px #dfd9cd inset, 0 0 20px #c2baa8 inset, 0 0 5pt #524d42;
}
#nav-header{
    box-shadow: 0 0 65px #dfd9cd inset, 0 0 20px #dfd9cd inset, 0 0 5pt #dfd9cd;
}

.btn{
    box-shadow: 0 0 40px #d89f2c inset, 0 0 20px #a17819 inset, 0 0 5pt #524d42;
}
#imageFile{
    box-shadow: 0 0 65px #dfd9cd inset, 0 0 20px #c2baa8 inset, 0 0 5pt #524d42;
    
}


#information{
    margin-left: 10px !important;
    margin-top: 100px;
}

@media screen and (max-width: 720px) {

    h3{
        font-size: 20px;
    }
  }



