{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue, vive la cuisine !</h1>
			<p class="lead">Cook est une application qui va te permettre de créer des recettes à base d'ingrédients que tu
				            auras choisi.
				            Tu pourras partager tes recettes avec la communauté ou les garder en privé.</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page d'inscription pour pouvoir utiliser l'application.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
			</p>
		
		</div>
	</div>


{% endblock %}
