{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
			{% for message in app.flashes('success') %}
			<div class="alert alert-dismissible alert-primary" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue {% if app.user.fullName is defined %}<span class="text-primary">{{ app.user.fullName }} </span>{% endif %}</h1>
			<p class="lead">Cook est une application qui va te permettre de créer des recettes à base d'ingrédients que tu
				            auras choisi.
				            Tu pourras partager tes recettes avec la communauté ou les garder en privé.</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page d'inscription pour pouvoir utiliser l'application.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="{{ path('security_registration')}}" role="button">Inscription</a>
			</p>
		
		</div>
	</div>


{% endblock %}
