{% extends 'base.html.twig' %}

{% block title %}Recette -
	{{ recette.name }}
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				{% block side %}
					{% include "/pages/recette/side.html.twig" %}
				{% endblock %}
			</div>
			<div class="col-md-9">
				{% block center %}
					{% include "/pages/recette/recette.html.twig" %}
				{% endblock %}
			</div>

		</div>
	</div>
{% endblock %}
